:root{
    --primary: #fe2c55;
    --black: #000;
    --white: #fff;
    --text-color: #161823;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
button,
input,
[tabindex] {
    outline: none;
    border: none;
}
a {
    color: var(--white);
    text-decoration: none;
}