:root {
    --font-family: 'SourceSansProRegular', Helvetica, sans-serif;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    font-family: var(--font-family);
    
}

body{
    background-color: #ffffff;
}
button,
input,
[tabindex] {
    outline: none;
    border: none;
}
a {
    color: #fff;
    text-decoration: none;
}
