.wrapper{
    position: relative;
    margin-top: 80px;
    background-color: #f2f2f2;
    overflow: hidden;
    left: 0;
    right: 0;
}
//header
.header{
    width: 1430px;
    height: 94px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}
.header-left{
    display: flex;
    align-items: flex-end;
    margin-bottom: 20px;
}
.matches{
    padding-right: 22px;
}
.all-matches{
    font-size: 1.4rem;
    position: relative;
}
.position {
    position: absolute;
    height: 0px;
    width: 0px;
}
.position::after {
    display: block;
    content: ' ';
    height: 2px;
    width: 0px;
    background-color: #c70202;
    transition: 1s;
}
.all-matches:hover .position::after {
    width: 94px;
}
//header right
.header-right{
    display: flex;  
    align-items: flex-end;
    margin-bottom: 20px;
    margin-right: 240px;
}
.header-right__active{
    height: 3px;
    width: 20px;
    margin: 2px;
    background-color: #c2c2c3;
}
.active{
    background-color: #c70202;
}

//bottom
.wrapper-item{  
    display: flex;
    width: 100vw;
    margin-bottom: 200px;  
    transform: translate(126px);
    transition: all 0.5s ease-in-out;
}
.wrapper-item2{
    display: flex;
    
    width: 100vw;
    margin-bottom: 200px;  
    transform: translate(-65%);
    transition: all 0.5s ease-in-out;
}
.wrapper-item3{
    display: flex;
    
    width: 100vw;
    margin-bottom: 200px;  
    transform: translate(-100%);
    transition: all 0.5s ease-in-out;
}
.btn-prev{
    height: 60px !important;
    max-width: 60px !important;
    position: absolute;
    background: #494A50;
    right: 368px;
    top: 40%;
	transform: translate(0, -50%);
    border-top-left-radius: 8px!important;
    border-bottom-left-radius: 8px!important;
    transition: all 1 ease-in-out;
    &:hover{
        background-color: #c70202;
    }
}
.btn-next{
    height: 60px !important;
    width: 60px !important;
    position: absolute;
    background: #494A50;
    right: 308px;
    top: 40%;
	transform: translate(0, -50%);
    border-top-right-radius: 8px!important;
    border-bottom-right-radius: 8px!important;
    transition: all 1 ease-in-out;
    &:hover{
        background-color: #c70202;
    }
}

// match item

.disable{
    pointer-events: none;
    opacity: 0.5;
}

.btn_click3{
    background-color: #c70202;
}