.content-item{
    display: flex;
    background-color: #ffffff;
    margin-top: 16px;
    border-radius: 8px;
    overflow: hidden;
    &:hover{
        .image-content{
            transform:scale(1.1);
            transition: all 1s ease-in-out;
        }
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
}
.wrapper-image{
    overflow: hidden;
}
.image-content{
    width: 340px;
    height: 386px;
    object-fit :cover;
    
}
.wrapper-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px 20px 0 20px;
    color: #231F20;
    width: 336px;
}
.position{
    height: 10px;
    width: 100%;
}
.position::after {
    display: block;
    content: " ";
    height: 2px;
    width: 100px;
    background-color: red;
    transition: 1s;
}
.content-item:hover .position::after {
    width: 20px;
}
.title{
    font-size: 2rem;
}
.info{
    padding-top: 12px;
    font-size: 1.8rem;
}
.info-bottom{
    display: flex;
    margin-bottom: 12px;
    font-size: 1.4rem;
    justify-content: space-between;
}
.info-bottom__left{
    display: flex;
    align-items: center;
}
.time{
    padding-right: 8px;
}
.split{
    width: 0;
    height: 12px;
    border-right: 1px solid #231f20;
    margin-right: 16px;
    margin-left: 8px;
}
.info-bottom__right{
    &:hover{
        transform: scale(1.2);
    }
}