.wrapper {
    display: flex;
    flex-direction: column;
    width: 85px;
    border-radius: 0 0 8px 8px;

    box-shadow: 0 10px 10px 0 rgb(0 0 0 / 20%);
    background-color: #2A2A2A;
    
    
    color: #fff;
}