.content-item {
    display: flex;
    background-color: #ffffff;
    margin-top: 16px;
    border-radius: 8px;
    overflow: hidden;
    &:hover {
        .image-content {
            transform: scale(1.1);
            transition: all 1s ease-in-out;
        }
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
}

.wrapper-image {
    overflow: hidden;
}
.image-content {
    width: 340px;
    height: 386px;
    object-fit: cover;
}
.wrapper-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px 20px 0 20px;
    color: #231f20;
    width: 336px;
    height: 386px;
}
.position {
    height: 10px;
    width: 100%;
}
.position::after {
    display: block;
    content: ' ';
    height: 2px;
    width: 100px;
    background-color: #c70202;
    transition: 1s;
}
.content-item:hover .position::after {
    width: 20px;
}
.title {
    font-size: 2rem;
}
.info {
    padding-top: 12px;
    font-size: 1.8rem;
}
.info-bottom {
    display: flex;
    margin-bottom: 12px;
    font-size: 1.4rem;
    justify-content: space-between;
}
.info-bottom__left {
    display: flex;
    align-items: center;
}
.time {
    padding-right: 8px;
}
.split {
    width: 0;
    height: 12px;
    border-right: 1px solid #231f20;
    margin-right: 16px;
    margin-left: 8px;
}
.info-bottom__right {
    &:hover {
        transform: scale(1.2);
    }
}

/// size
.small {
    display: block;
    height: 440px;
    position: relative;
    width: 330px;
    .image-content {
        width: 100%;
        height: 140px;
        object-fit: fill;
        
    }
    .wrapper-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 16px 20px 0 20px;
        color: #231f20;
        width: 336px;
        height: 300px;
    }
    .title {
        padding-top: 20px;
        font-size: 1.6rem;
    }
    .position {
        height: 10px;
        width: 100%;
        position: absolute;
        top: 130px;
    }
    .position::after {
        display: block;
        content: ' ';
        height: 2px;
        width: 100px;
        background-color: #c70202;
        transition: 1s;
    }
    .content-item:hover .position::after {
        width: 20px;
    }
    .info {
        padding-top: 14px;
        font-size: 1.4rem;
    }
    .info-bottom {
        display: flex;
        margin-bottom: 12px;
        font-size: 1.4rem;
        justify-content: space-between;
    }
    .info-bottom__left {
        display: flex;
        align-items: center;
    }
    .time {
        padding-right: 8px;
    }
    .split {
        width: 0;
        height: 12px;
        border-right: 1px solid #231f20;
        margin-right: 16px;
        margin-left: 8px;
    }
    .info-bottom__right {
        &:hover {
            transform: scale(1.2);
        }
    }
}
.big {
    display: block;
    height: auto;
    position: relative;
    height: 716px;
    width: 100vw;
    
    .wrapper-image{
        width: 100vw;
        height: 716px;
        .image-content {
            height: 716px;
            width: 100vw;
            object-fit: fill;
        }
    }
    
    .wrapper-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 16px 20px 0 20px;
        color: #231f20;
        width: 336px;
        height: 300px;
    }
    .title {
        padding-top: 20px;
        font-size: 1.6rem;
    }
    .position {
        height: 10px;
        width: 100%;
        position: absolute;
        top: 130px;
    }
    .position::after {
        display: block;
        content: ' ';
        height: 2px;
        width: 100px;
        background-color: #c70202;
        transition: 1s;
    }
    .content-item:hover .position::after {
        width: 20px;
    }
    .info {
        padding-top: 14px;
        font-size: 1.4rem;
    }
    .info-bottom {
        display: flex;
        margin-bottom: 12px;
        font-size: 1.4rem;
        justify-content: space-between;
    }
    .info-bottom__left {
        display: flex;
        align-items: center;
    }
    .time {
        padding-right: 8px;
    }
    .split {
        width: 0;
        height: 12px;
        border-right: 1px solid #231f20;
        margin-right: 16px;
        margin-left: 8px;
    }
    .info-bottom__right {
        &:hover {
            transform: scale(1.2);
        }
    }
}

//type
.video {
    position: relative;
    color: #ffffff;
    .image-content {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 672px;
        height: 386px;
        object-fit: cover;
        background-color: #231f20;
    }
    .wrapper-info {
        height: auto;
        position: absolute;
        bottom: 10px;
        width: 100%;
        left: 20px;
    }
    .icon-wrapper {
        height: 50px;
        width: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #c70202;
        border-radius: 8px;
        margin-bottom: 12px;
        transition: all 0.3s ease-in-out;
        &:hover {
            transform: scale(1.1);
        }
    }
    .icon-play {
        color: #ffffff;

        font-size: 2rem;
    }
    .title {
        color: #ffffff;
    }
    .info {
        color: #ffffff;
    }
    .info-bottom {
        color: #ffffff;
    }
    .info-bottom__right {
        margin-right: 24px;
    }
}
